
$color-primary: rgb(230 204 153);
$color-secondary: rgb(94 68 17);
$color-black: #000;

* {
    transition: all ease 0.1s;
}

html, body {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.header {
    padding: 1em 0;
    @media (min-width: 768px){
        padding: 2em 0;
    }
    text-align: center;
    .logo {
        margin: 1em auto 2em;
        @media (min-width: 768px){
            margin: 1em auto 4em;
        }
        img {
            width: 250px;
            height: auto;
            @media (min-width: 768px){
                width: 400px;
            }
        }
    }
}
.nav {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 3em;
    &-list {    
        flex-wrap: wrap;    
        display: flex;
        margin: 0;
        width: 100%;
        padding: 0;
        justify-content: center;
        @media (min-width: 768px){
            flex-wrap: nowrap;
        }
    }
    &-item {
        list-style: none;
        width: 80%;
        text-transform: uppercase;
        position: relative;
        border-bottom: 1px solid $color-black;
        @media (min-width: 576px){
            width: 50%;
        }
        @media (min-width: 992px){
            width: 22%;
        }
        &:last-child {
            border-bottom: none;
            @media (min-width: 576px){
                border-bottom: 1px solid $color-black;
            }
        }
        &::before {
            content: '';
            width: 1px;
            height: 100px;
            background-color: $color-black;
            position: absolute;
            bottom: -40px;
            left: 0;    
        }
        /*&:last-child::after {*/
        &::after {
            content: '';
            width: 1px;
            height: 100px;
            background-color: $color-black;
            position: absolute;
            bottom: -40px;
            right: 0;    
        }
    }
    &-link {
        color: $color-secondary;
        background-color: $color-primary;
        &:hover {
            color: $color-primary;
            background-color: $color-black;
        }
    }
}
.hero {
    figure {
        overflow: hidden;
        border-radius: 10px;
    }
}
.decoration {
    margin: 2em 0;
    @media (min-width: 768px){
        margin: 4em 0;
    }
    .title {
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 2px;
    }
    .article {
        padding: 1em 0;
        figure {
            overflow: hidden;
            border-radius: 10px;
        }
        &-title {
            font-weight: 200;
            font-size: 1.2em;
            text-align: center;
            margin: 0;
        }
    }
}
.design {
    margin: 2em 0;
    @media (min-width: 768px){
        margin: 4em 0;
    }
    .title {
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 2px;
    }
    .article {
        padding: 1em 0;
        figure {
            overflow: hidden;
            border-radius: 10px;
        }
        &-title {
            font-weight: 200;
            font-size: 1.2em;
            text-align: center;
            margin: 0;
        }
    }
}
.footer {
    height: 50px;
}

main {
    img {
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
}